@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.navbar{
padding: 1rem;
}

.navbar-brand{
    font-size: 2em;
    padding-left: 250px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-nav li{
padding: 20px;
}

.nav-link{
font-size: 1.3em;
font-family: 'Raleway', sans-serif;
}

.nav-item{
    text-transform: uppercase;
}

.social-links{
    padding-right: 250px;
}

.social-links a{
    padding: 1.3em;
}

.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #2C2F35;
}
.fa-instagram{
    color: #2C2F35;
}
.fa-youtube{
    color: #2C2F35;
}
.fa-spotify{
    color: #1ED760;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-spotify:hover{
color: #c9c9c9;
}

.centered-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.bgimg{
    width: 100%;
    height: 725px;
}

.jumbotron{
    background-color: white;
}

.jumbotron p{
    font-size: 40px;
    padding: 100px 50px;
}

/* .row{
    padding-right: 200px;
    padding-left: 200px;
}
 */
.centered-text-2{
    text-align: center;
}

.par{
    font-size: 18px;
    padding: 10px;
}

.btn-primary{
    background-color: #E55C5C;
    border: 1px solid #E55C5C;
}

.btn-primary:hover{
    background-color: #EA6E6E;
    border: 1px solid #EA6E6E ;
  }

.card-title{
    font-size: 2.1rem;
}

.card-text{
    font-size: 1.1rem;
    padding-top: 1rem;
}

.card{
    border: none;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
  }

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-last{
    width: 100%;
    border-top: 1px solid #d5d5d5;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.big-div{
    padding: 0rem 15rem;
}

.small-div{
    padding-top: 10rem;
}